.git
.gitignore
.vscode
.vscode-test
src
scripts
tsconfig.json
pnpm-lock.yaml
pnpm-workspace.yaml
AGENTS.md
TODO.md
.libraries
.docs
.images
.serena
# .template-*
node_modules
!dist/scripts
!dist/pzstudio.cmd
!dist/build.json
!dist/extension.js
!dist/extension.js.map
!dist/index.js
!dist/index.js.map
drum
